<template>
  <card :title="$t('your_friends')">
    <template v-if="('data' in friends) && Object.keys(friends.data).length !== 0">
      <div v-for="friend in friends.data" class="row">
        <div class="col-md-6">
          Name: {{ friend.name }}
        </div>
      </div>
      <pagination :data="friends" v-on:pagination-change-page="getFriends"></pagination>
    </template>
    <template v-else>
      {{ $t('no_friends') }}
    </template>
  </card>
</template>

<script>
import axios from 'axios'

export default {
  data: () => ({
    friends: {},
    page: 1
  }),

  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.page = typeof vm.$route.query.page !== 'undefined' ? vm.$route.query.page : vm.page
      axios.get('/api/friends?page=' + vm.page).then(response => vm.friends = response.data)
    })
  },

  methods: {
    getFriends (page) {
      let newPage = typeof page === 'undefined' ? this.page : page

      this.$router.replace({name: "friends", query: {page: newPage}})

      axios.get('/api/friends?page=' + newPage).then(response => {
        this.friends = response.data
        this.page = newPage
      })
    }
  }
}
</script>
