<template>
  <card :title="$t('your_pending')">
    <template v-if="('data' in pending) && Object.keys(pending.data).length !== 0">
      <div v-for="pendingFriend in pending.data" class="row">
        <div class="col-md-6">
          Name: {{ pendingFriend.name }}
        </div>
        <div class="col-md-6">
          <button @click="addFriend(pendingFriend.friendship_id)" class="btn btn-primary">{{ $t('add_friend') }}</button>
        </div>
      </div>
      <pagination :data="pending" v-on:pagination-change-page="getPending"></pagination>
    </template>
    <template v-else>
      {{ $t('no_pending') }}
    </template>
  </card>
</template>

<script>
  import axios from 'axios'

  export default {
    data: () => ({
      pending: {},
      page: 1
    }),

    beforeRouteEnter (to, from, next) {
      next(vm => {
        vm.page = typeof vm.$route.query.page !== 'undefined' ? vm.$route.query.page : vm.page
        axios.get('/api/pending?page=' + vm.page).then(response => vm.pending = response.data)
      })
    },

    methods: {
      async addFriend (friendshipId) {
        await axios.patch('/api/friends/add', {friendship_id: friendshipId})

        this.$delete(this.pending, friendshipId)
      },

      getPending (page) {
        let newPage = typeof page === 'undefined' ? this.page : page

        this.$router.replace({name: "friends.pending", query: {page: newPage}})

        axios.get('/api/pending?page=' + newPage).then(response => {
          this.pending = response.data
          this.page = newPage
        })
      }
    }
  }
</script>
